
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="btn-group col-5 mb-5">
    <button class="btn  btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
        Ders Seç
    </button>
    <div class="dropdown-menu  lessons col-12">
        <a class="dropdown-item lesson" href="#">Action</a>
    </div>
</div>
<div class="text-group">
    <div class="form-group">
        <label class="ExamName" for="ExamName">Sınav Adı</label>
        <textarea class="form-control" id="ExamName" rows="1"></textarea>
    </div>
</div>
<div class="questions">
    <div class="question">
        <div class="text-group">
            <div class="form-group">
                <label class="questionName" for="exampleFormControlTextarea1">Soru 1</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
        <div class="text-group">
            <div class="form-group">
                <label class="answerName" for="exampleFormControlTextarea1">Cevap 1</label>
                <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>
            </div>
        </div>
    </div>
</div>


<a href="#" onclick="addQuestions()" class="btn btn-warning btn-icon-split">
    <span class="icon text-white-50">
        <i class="fas fa-plus"></i>
    </span>
    <span  >Soru Ekle</span>
</a>
<a href="#" onclick="Create()" class="btn btn-success btn-icon-split" style="margin-right:auto">
    <span class="icon text-white-50">
        <i class="fas fa-check"></i>
    </span>
    <span class="text">Kaydet</span>
</a>



<script>
    const addQuestions = () => {
        var question = $(".question:first").clone();

        $(".questionName", question).text("Soru " + ($(".question").length + 1));

        $(".answerName", question).text("Cevap " + ($(".question").length + 1));

        $(".questions").append(question);
    };

    const getUsers = () => {
        $.ajax({
            url: "https://localhost:44314/api/user/",
            type: "GET",
            success: function (response) {
                response.map((user) => {
                    var userHTML = $('li.user:first').clone();
                    var label = $('label', userHTML);
                    var input = $('input', userHTML);

                    input.attr('id', user.Name);
                    label.text(user.Name);
                    label.attr('for', input.attr('id'));

                    $('li.user:contains(Default)').remove();
                    $('ul.users').append(userHTML);
                });
            },
            error: function (response) {
                console.log(response);
            }
        });
    }

    const getLessons = () => {
        $.ajax({
            url: "https://localhost:44314/api/lessons/",
            type: "GET",
            success: function (response) {
                response.map((lesson) => {
                    var lessonHTML = $('a.lesson:first').clone();

                    $(lessonHTML).text(lesson.LessonName);
                    

                    $('a.lesson:contains(Action)').remove();
                    $('div.lessons').append(lessonHTML);
                });
            },
            error: function (response) {
                console.log(response);
            }
        });
    }


    const Create = () => {
        var data = { 'ExamName': $("#ExamName").val(),'LessonId':"1",'Status': true };
            $.ajax({
                url: "https://localhost:44314/api/exam",
                type: "POST",
                headers: {
                    'Content-Type': 'application/json',
                },
                data: JSON.stringify(data),
                success: function (response) {
                    console.log(response);
                    var examId = response.ExamId;
                    var data = [];

                    $('.question').each(function(key, row) {
                        data.push({
                            "QuestionContent": $('textarea:first',row).val(),
                            "Answer": $('textarea:first', row).val(),
                            "QuestionTye": true,
                            "Status": true,
                            "ExamId": examId
                        });
                    });

                    $.ajax({
                        url: "https://localhost:44314/api/question",
                        type: "POST",
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        data: JSON.stringify(data),
                        success: function (response) {
                            window.location.pathname = '/exam';
                        },
                        error: function (response) {
                            window.location.refresh();
                        }
                    });
                },
                error: function (response) {
                    
                }
            });
    }

    window.addEventListener('DOMContentLoaded',() => {
        getUsers();
        getLessons();
    });
</script>
