@model List<Data.Models.Exam>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Öğrenciler</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Ders Adı</th>
                        <th>Sınav Adı</th>
                        <th>Detay</th>

                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Ders Adı</th>
                        <th>Sınav Adı</th>
                        <th>Detay</th>

                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Lesson.LessonName;
                            </td>
                            <td>
                                @item.ExamName;
                            </td>
                            <td>
                                <a href="/Product/Get/@item.ExamId" class="btn btn-warning btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-exclamation-triangle"></i>
                                    </span>
                                    <span class="text">Detay</span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



